
footer{
    margin-top: 2%;
    background-color: var(--bg-color);
    width: 100%;
    border: none;
}
.colum{
    margin: 3%;
    padding: 2%;
}

li i {
    margin: 14px;
    font-size: 25px;
  }

  ul{
    display: flex;
    justify-content: space-between;
  }
  
  .containerFooter{ 
    color: white;
    padding: 30px;
  
    
  
  }
  
  li a {
    font-size: 18px;
    text-decoration: none;
    color: rgba(199, 194, 194, 0.575);
    cursor: pointer;
  }   

  @media screen and (max-width: 1200px){
    ul{
        display: block;
        
      }
      .containerFooter{
        display: flex;
        justify-content: center;
      }
    
  }