
.containerImg{
    display: flex;
    padding-top: 70px;
    justify-content: center;
    height: 100vh;
    width: 80%;
    

}

.imgtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3.125rem;
    font-size: 26px;
    width: 100%;
    
}
.imgtext .name{
    width: 100%;
  
}
.styleParrafo{
    margin: 20px;
    
    width: 180px;
    height: 40px;
    border-radius: 30px;
    padding: 2px;
    text-align: center;
    transform: translateY(0);
  box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px #72EB3A,
    inset -20px 0 80px #5D9D0B, inset 20px 0 300px #5D9D0B, inset -20px 0 300px #365A08,
    0 0 50px #365A08, -10px 0 80px #5D9D0B, 10px 0 80px #365A08;
}
.styleParrafo p{
   margin-bottom: 2px;
}

.styleParrafo::after{
    content: "";
    position: absolute;
    border: 20px solid;
    
    border-color: #d1fa9a transparent transparent transparent ;
}


.imgMe{

    border-radius: 200px;
    width: 400px;
    height: 450px;
    transform: translateY(0);
  box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px #72EB3A,
    inset -20px 0 80px #5D9D0B, inset 20px 0 300px #5D9D0B, inset -20px 0 300px #365A08,
    0 0 50px #365A08, -10px 0 80px #5D9D0B, 10px 0 80px #365A08;
    
}

@media screen and (max-width: 1200px){
    .containerImg{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        
       
    }
    .imgtext{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 0%;

}
    .imgtext h1{
        width: 100%;
        font-size: 40px;
    }
}